section {
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 40px;

}

.basket-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.basket_top {
	display: flex;
    flex-direction: column;
	border-radius: 8px;
    margin-top: 20px;
	margin-bottom: 0.2rem;
}

.basket_top-main {
    display: flex;
}

.basket_top-img:hover {
	border-radius: 50%;
	background-color: #d1d1d1;
}

.basket_top-title {
	color: #1a73e8;
	font-size: 2rem;
}

.basket-container {
	display: flex;
	gap: 20px;
    padding-top: 0;
}

.basket-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.basket-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.basket-header {
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.basket-header-del > span {
    padding: 10px;
	font-weight: bold;
}

.basket-header-del {
    flex:1.5;
    padding: 16px;
    background: white;
    border: 1px solid #efefef;
    box-shadow: 2px 3px 6px #b5b5b5;
	border-radius: 8px;
}

.basket-header-del > span:hover {
    background-color: #cfcfcf;
    border-radius: 8px;
    cursor: pointer;
}



.basket-item {
	display: flex;
  	gap: 10px;
  	padding: 10px;
	background: white;
    border: 1px solid #efefef;
    box-shadow: 2px 3px 6px #b5b5b5;
	border-radius: 8px;
}

.basket-item:hover {
    background-color:#ebf5ff;
}

.basket-img {
	width: 160px;
	border-radius: 4px;
}

.basket-info {
	flex: 1;
}

.basket-title {
	margin: 5px 0;
}

.basket-code {
	color: #888;
	font-size: 13px;
    margin-bottom: 24px;
}

.basket-actions {
    display: inline-block;
}

.basket-actions span {
	font-size: 20px;
    padding: 4px;
	cursor: pointer;
}

.basket-actions:hover {
    background-color: #cfcfcf;
    border-radius: 8px;
    width: fit-content;

}

.basket-price {
	display: inline-block;
	float: right;
}

.basket-current {
	font-size: 32px;
	font-weight: bold;
}

.basket-counter {
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.counter-btn-dec {
	padding: 4px 10px;
	border: none;
	background: #4574ff;
	cursor: pointer;
}

.counter-btn-dec.disablet {
    padding: 4px 10px;
    opacity: 0.3;
	cursor: default;
	pointer-events: none;
}

.counter-btn-inc {
    padding: 4px 10px;
	border: none;
	background: #4574ff;
	cursor: pointer;
}

.checkout-btn {
	display: block;
	width: 100%;
	background: #4caf50;
	color: white;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 8px;
	margin: 10px 0px 40px;
	cursor: pointer;
    transition: .5s;
}

.checkout-btn:hover {
    background-color: #ff671f;
}

.bonus-info {
    font-size: 1rem;
    flex: 1;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding: 18px 10px 10px;
    background: white;
    border: 1px solid #efefef;
    box-shadow: 2px 3px 6px #b5b5b5;
	border-radius: 8px;
}

.bonus-info > a {
	text-decoration: none;
	color: orange;
	padding: 2px;
}

.bonus-info > a:hover {
	background-color: rgb(253, 235, 203);
	border-radius: 8px;
	background-color: rgb(255, 245, 227);
}

.summary {
	font-size: 14px;
    background: white;
    border: 1px solid #efefef;
    box-shadow: 2px 3px 6px #b5b5b5;
	border-radius: 8px;
	padding: 10px;
}

.summary-row, .bonus-account {
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
    font-size: 18px;
}

.bonus-account > span {
    color: orange;
}

.bonus-account {
    margin-bottom: 36px;
}

.summary-total {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
	.basket-img {
		width: 140px;
	}
}

@media (max-width: 768px) {
	.basket-container {
		flex-direction: column;
	}

	.basket-left,
	.basket-right {
		width: 100%;
	}

	.basket-right {
		margin-top: 15px;
	}

	.basket-img {
		width: 120px;
	}
}

@media (max-width: 576px) {
	@media (max-width: 576px) {
    body.basket-page header,
    body.basket-page footer {
        display: none !important;
    }
}

	.basket-item {
    flex-direction: row !important;
    align-items: flex-start;
  }

  .basket-info {
    margin-left: 10px;
  }

  .basket-price {
    margin-left: auto; 
    text-align: right;
  }
}

@media (max-width: 426px) {
	.basket-header-del {
		font-size: 16px;
		padding: 10px;
	}

	.basket-item {
		flex-direction: row;
	}

	.basket-title, .basket-current {
		font-size: 18px;
	}

	.basket-code {
		font-size: 14px;
		margin-bottom: 14px;
	}

	.basket-actions span {
		font-size: 14px;
	}

	.basket-img {
		width: 80px;
	}

	.bonus-info {
		padding: 12px 4px 6px;
	}

	.summary-total {
		font-size: 24px;
	}
}

@media (max-width: 376px) {
	.basket-header-del {
		font-size: 14px;
		padding: 8px;
	}

	.basket_top-img {
		width: 36px;
	}

	.basket_top-title {
		font-size: 28px
	}

	.basket-img {
		width: 60px;
	}

	.basket-title, .basket-current {
		font-size: 14px;
	}

	.basket-actions span {
		font-size: 12px;
	}

	.basket-code {
		font-size: 10px;
		margin-bottom: 16px;
	}

	.bonus-info {
		padding: 8px 4px 2px;
		font-size: 14px;
	}

	.summary-total {
		font-size: 22px;
	}
}

@media (max-width: 320px) {
	.basket-header-del {
		font-size: 12px;
		padding: 4px;
	}

	.basket_top-img {
		width: 30px;
	}

	.basket_top-title {
		font-size: 24px
	}

	.bonus-info {
		font-size: 12px;
	}

	.checkout-btn {
		font-size: 14px;
	}

	.summary-row, .bonus-account {
		font-size: 16px;
	}

	.summary-total {
		font-size: 20px;
	}
}
