header {
  max-width: 100%;
  background-color:rgb(235, 245, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  font-size: 3rem;
}

.header__logo > a {
  font-weight: bold;
  color: #1a73e8;
  text-decoration: none;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	flex-wrap: wrap;
}

.header__link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #1a73e8;
}


@media (max-width: 426px) {

  .header__logo {
    font-size: 20px;
  }

  .header__link {
    display: none;
  }
  .header__cart {
    display: block;
    position: absolute;
    right: 24px;
    bottom: 24px;
  }
  .header__nav {
    padding-left: 8px;
    padding-right: 8px;
  }
	
}

@media (max-width: 320px) {

  .header__logo {
    display: block;
    margin: 0 auto 4px;
    font-size: 20px;
  }

  .header__link {
    display: none;
  }
  .header__cart {
    display: block;
    position: absolute;
    right: 16px;
    bottom: 24px;
  }
	
}

