/* .accordion {
	padding: 1rem;
	padding-top: 0;
	padding-bottom: 0;
	background: linear-gradient(to bottom, #f7f7f7, white);
	border-radius: 8px;
}
h3 {
	font-size: 2rem;
	color: #1a73e8;
}
.accordion__content {
	max-height: 54px;
	overflow: hidden;
	transition: 0.3s ease;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	position: relative;
}
.accordion__content::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2rem;
	background: linear-gradient(to bottom, transparent, white);
	pointer-events: none;
}

.accordion__content.expanded {
	max-height: none;

	display: block;
	-webkit-line-clamp: unset;
	-webkit-box-orient: unset;
	text-overflow: unset;
}
.accordion__content.expanded::after {
	display: none;
}

.accordion__button {
	float: right;
	margin-top: 8px;
	cursor: pointer;
	padding: 6px 12px;
	background-color: #007bff;
	border: none;
	color: white;
	border-radius: 4px;
	transition: 0.5s;
}

.accordion__button:hover {
	background-color: #0056b3;
} */
.accordion {
	padding: 1rem;
	padding-top: 0;
	padding-bottom: 0;
	background: linear-gradient(to bottom, #f7f7f7, white);
	border-radius: 8px;
}

h3 {
	font-size: 2rem;
	color: #1a73e8;
	margin-bottom: .8rem;
}

.accordion__content {
	max-height: 64px;
	overflow: hidden;
	line-height: 1.3;
	transition: max-height 1s ease;

	display: -webkit-box;
	-webkit-line-clamp: 50;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
}

.accordion__content::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2rem;
	background: linear-gradient(to bottom, transparent, white);
	pointer-events: none;
}

.accordion__content.expanded {
	max-height: 500px; /* Достаточно большое значение */
	padding-top: 1rem;
	padding-bottom: 1rem;

	-webkit-line-clamp: unset;
	-webkit-box-orient: unset;
	text-overflow: unset;
}

.accordion__content.expanded::after {
	display: none;
}

.accordion__button {
	float: right;
	margin-top: 8px;
	cursor: pointer;
	padding: 6px 12px;
	background-color: #007bff;
	border: none;
	color: white;
	border-radius: 4px;
	transition: 0.5s;
}

.accordion__button:hover {
	background-color: #0056b3;
}