.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin: 25px 28px;
  gap: 1rem;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
	.container {
		flex-direction: row-reverse; 
		gap: 0.5rem;
		margin: 20px 0px 0px 28px;
	}

	.sidebar {
		width: 220px;
		padding: 0.5rem;
		height: auto;
		position: static;
		border-left: 1px solid #ccc; 
		border-right: none;
	}

	.product-card-wrapper {
		flex: 1;
		width: 100%;
	}
}

@media (max-width: 769px) {
	.container {
		flex-direction: row-reverse;
		align-items: flex-start;
	}

	.sidebar {
		width: 160px;
		padding: 0.5rem;
		font-size: 14px;
	}

	.sidebar__title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.sidebar__section h4 {
		font-size: 15px;
	}

	.sidebar__section label {
		font-size: 14px;
	}

	.product-card-wrapper {
		flex: 1;
		padding: 0 0.5rem;
	}
}