.search-input {
  max-width: 14rem;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  font-size: 16px;
  border-style: hidden;
}

.search-input:focus {
  outline:none;
}

@media (max-width: 426px) {
  .search-input {
    display: inline-block;
    width: 70%;
  }
}

@media (max-width: 376px) {
  .search-input {
    display: inline-block;
    width: 50%;
    margin-left: 8px;
  }
}

@media (max-width: 320px) {
  .search-input {
    display: inline-block;
    width: 80%;
    margin-left: 8px;
  }
}