.container {
	width: 94%;
	height: fit-content;
}
.features-title {
	margin: 25px 80px;
	color: #1a73e8;
	font-size: 3rem;
}
.main-features {
	margin: 25px 80px;
}
table {
	width: 100%;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	unicode-bidi: isolate;
	border-color: inherit;
}
tr {
	display: table-row;
	vertical-align: inherit;
	unicode-bidi: isolate;
	border-color: inherit;
}
td {
	vertical-align: top;
}
.op1 {
	padding: 3px 12px 3px 0;
}
.op3 {
	padding: 3px 12px 3px 10px;
}
.op1-title {
	color: #2c509a;
	font-size: 21px;
	margin-bottom: 5px;
}
.ib {
	display: block;
	width: 200%;
	padding-top: 1rem;
	zoom: 1;
	border-top: solid 1px grey;
}
.oth {
	color: gray;
}
.official-site {
	color: #2c509a;
	cursor: pointer;
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	text-decoration: underline;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.official-site:hover {
	color: #f28602;
}
.line {
	width: 200%;
	height: 1px;
	background-color: gray;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media (max-width: 1024px) {
	.container {
		flex-direction: row;
	}
}

@media (max-width: 426px) {
	.container {
		flex-direction: column;
	}

	.features-title {
		color: #2a2a2a;
		font-size: 36px;
		margin: 0;
		margin-left: 12px;
	}

	.main-features {
		margin: 0;
		margin-left: 12px;
	}

	.main-features td.op01,
  	.main-features td.op02 {
    	display: block;
    	width: 100% !important;
    	padding: 0;
  	}

  	.main-features td.op01 table,
  	.main-features td.op02 table {
    	width: 100%;
    	border-collapse: collapse;
  	}

  	.main-features td.op1,
  	.main-features td.op3 {
    	display: table-cell;
    	vertical-align: top;
    	padding: 4px 10px 2px 0;
  	}

  	.main-features .op1-title {
    	display: block;
    	font-weight: 600;
    	text-transform: uppercase;
    	color: #2a2a2a;
    	margin-top: 16px;
    	margin-bottom: 4px;
  	}

  	.main-features td.op1 {
    	width: 45%;
    	font-weight: 500;
    	color: #2a5bd7;
  	}

  	.main-features td.op3 {
    	width: 55%;
    	color: #333;
  	}

  	.main-features tr {
    	border-bottom: 1px solid #f0f0f0;
  	}

  	.main-features table tr:last-child {
    	border-bottom: none;
  	}

  	.main-features img {
    	vertical-align: middle;
  	}

	.ib {
		border: none;
		width: 0;
	}
}

@media (max-width: 375px) {
  .main-features {
    padding: 6px;
  }

  .main-features td.op01,
  .main-features td.op02 {
    display: block;
    width: 100% !important;
    padding: 0;
  }

  .main-features td.op01 table,
  .main-features td.op02 table {
    width: 100%;
    border-collapse: collapse;
  }

  .main-features td.op1,
  .main-features td.op3 {
    display: block;
    width: 100%;
    padding: 3px 0;
  }

  .main-features .op1-title {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #2a2a2a;
    margin-top: 14px;
    margin-bottom: 4px;
    font-size: 0.85rem;
  }

  .main-features td.op1 {
    color: #2a5bd7;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .main-features td.op3 {
    color: #333;
    font-size: 0.8rem;
    margin-bottom: 6px;
  }

  .main-features tr {
    display: block;
    margin-bottom: 6px;
    border-bottom: 1px solid #eee;
  }

  .main-features img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }
}



@media (max-width: 320px) {
  .main-features table {
    width: 100%;
    table-layout: fixed; 
  }

  .main-features td.op1,
  .main-features td.op3 {
    display: table-cell !important;
    width: 50% !important;
    vertical-align: top;
    padding: 4px 6px;
  }

  .main-features td.op3 {
    white-space: normal;
    word-break: break-word;
  }

  .main-features tr {
    display: table-row !important;
  }
}
