.slider {
    position: relative;
	width: 40%;
	height: 620px;
	overflow: hidden;
}
.slider-container {
    width: 100%;
	height: 600px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
}
.slider-img {
    width: 90%;
	height: 100%;
}
.controlls {
    position: absolute;
	top: 50%;
    cursor: pointer;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.controlls:hover {
    transform:scale(1.3);
    transition: .5s;
    opacity: .6;
}
.dotsSlider {
    display: flex;
    justify-content: center;
}
.dots {
    margin: 0 3px;
    cursor: pointer;
}
.active {
    color: #1a73e8;
    transform: scale(1.2)
}
.dots:hover {
    transform: scale(1.4);
    transition: .5s;
    opacity: .6;
}

@media (max-width: 1024px) {
	.slider-container {
    width: 100%;
	height: auto;
    }

    .slider {
        height: auto;
    }
}

@media (max-width: 426px) {
	.slider-container {
    width: 100%;
	height: auto;
    }

    .slider {
        width: 80%;
        height: auto;
        margin: 20px auto;
    }
}